{{ define "main" }}

<h1>About</h1>

<p>
> Declan Bradley is a reporting intern for The Chronicle of Higher Education and transfer 
student at Oberlin College. He is a graduate of the Lede Program for Data Journalism at 
Columbia University, and lives in Washington, D.C.</p> 

<p>
> His work, including visualizations of 
national campaign finance data and an investigation into the improper storage of student 
data at Reed College, has won top awards from the ACP in news writing, opinion, and multimedia 
journalism. He is currently a finalist for the ACP’s 2024 Reporter of the Year award.</p> 

<p>
> His passion for data reporting has led him to volunteer as an analyst and scraper for both 
the Data Liberation Project and Open Elections, and he currently serves as a web developer 
for the Behind the Badge Project, a division of MuckRock.
</p>

<br/>

<h1>Latest posts</h1>

<div class="posts-list">
{{ with .Site.GetPage "/posts" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <div class="date">{{ .PublishDate.Format "Jan. 2, 2006" }}</div>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Summary }}
            </p>
        </div>    
    {{ end }}
{{ end }}
</div>

<h1>Latest photos</h1>

<div class="image-grid">
{{ with .Site.GetPage "/photos" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc")}}
        <a href="{{ .Permalink }}" title="{{ .Title }}">
        {{ $image := .Page.Resources.GetMatch .Params.image }}
        {{ with $image }}
            {{ $thumb := .Resize "400x" }}
            <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class="img-responsive">
        {{end}}
        </a>
    {{ end }}
{{ end }}
</div>

{{ end }}